<a href="https://colab.research.google.com/github/DrRossTaylor/intro-DS-Assignments/blob/master/vitamin03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Vitamin 3

### **Note**: 
As long as you watched the lecture, you should be able to answer these. If you are stuck, feel free to post on Teams in the relevant threads!

**Deadline**: Vitamin 3 is due Wednesday (2/16) by 2:00.

**Submission**: Once you're finished, submit via Teams.

**A. True or false? In this class, the following is a valid table.** Assign answer_A to 1 or 2.

| Brand  | Haagen Dazs  | Humphry Slocombe  | Talenti            |
|--------|--------------|-------------------|--------------------|
| Flavor | Vanilla Bean | Vietnamese Coffee | Mediterranean Mint |
| Price  | 3.89         | 4.54              | $4.78              |

1. `True`
2. `False`

<!--
BEGIN QUESTION
name: qA
manual: false
-->

In [ ]:
answer_A = ...

**B. Greg and Emily just learned about some table operations. Greg claims that operations such as `.select` and `.where` modify the original table, so they need to be careful when using it. Emily tells Greg not to worry. She thinks that these operations actually create a new table. Who is actually correct? Assign answer_B to 1 or 2.**
<ol>
    <li>Greg</li>
    <li>Emily</li>
</ol>

<!--
BEGIN QUESTION
name: qB
manual: false
-->

In [ ]:
answer_B = ...

### Submit via Teams