# Extra Credit - Analyze Covid-19 Data

In this notebook, you'll analyze county-level data on confirmed Covid cases and deaths. This data was taken from the NY Times' Github repository on 4/12/20.

In [1]:
import numpy as np
from datascience import *

# These lines set up graphing capabilities.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

In [3]:
covid_data = Table.read_table('us-counties.csv')
covid_data

date       | county      | state      | fips  | cases | deaths
2020-01-21 | Snohomish   | Washington | 53061 | 1     | 0
2020-01-22 | Snohomish   | Washington | 53061 | 1     | 0
2020-01-23 | Snohomish   | Washington | 53061 | 1     | 0
2020-01-24 | Cook        | Illinois   | 17031 | 1     | 0
2020-01-24 | Snohomish   | Washington | 53061 | 1     | 0
2020-01-25 | Orange      | California | 6059  | 1     | 0
2020-01-25 | Cook        | Illinois   | 17031 | 1     | 0
2020-01-25 | Snohomish   | Washington | 53061 | 1     | 0
2020-01-26 | Maricopa    | Arizona    | 4013  | 1     | 0
2020-01-26 | Los Angeles | California | 6037  | 1     | 0
... (51159 rows omitted)

Be sure to read about the data (what it means, how it is represented, especially with respect to NYC) [here](https://github.com/nytimes/covid-19-data#coronavirus-covid-19-data-in-the-united-states).

Now, have fun putting your Data Science skills to use in exploring this data! You can use your table skills to group by state and explore questions at that level. You can plot things geographically using map methods, over time using line plots. You can join this table with some other table, make scatter plots. These are just a couple ideas - I'd love to see what you come up with!

I'd suggest starting with a specific goal or question. At the very least, write some explanation/analysis of the table or visualization you've created.

This extra credit lab will be worth up to 12 points added to your lab score. In order to receive full credit, you must show and explain at least 4 different tables or visualizations. This rule may be relaxed if you do something particularly complex or creative. Feel free to use other data sets - include links to where you got them.

Deadline is the end of final exam week.