In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [10]:
# "first" function from Practice Midterm
def first(x):
    """x is an array"""
    return x.item(0)

In [9]:
# County table from Practice Midterm
counties = Table.read_table('counties.csv')
counties = counties.where('COUNTY', are.not_equal_to(0)).select(5, 6, 9, 13)
counties = counties.relabeled('STNAME', 'State').relabeled('CTYNAME', 'County').relabeled('POPESTIMATE2010', '2010 Pop').relabeled('POPESTIMATE2014', '2014 Pop')
counties.show(3)

**Question 3c.**
A new table called `states` that has one row for each state. It should have three columns: the state's name, the total population of the state in 2010, and the total population of the state in 2014. It should not have any column corresponding to county names.

In [13]:
counties_3column = counties.drop('County')
states = counties_3column.group('State' , sum)
states

State                | 2010 Pop sum | 2014 Pop sum
Alabama              | 4785822      | 4849377
Alaska               | 713856       | 736732
Arizona              | 6411999      | 6731484
Arkansas             | 2922297      | 2966369
California           | 37336011     | 38802500
Colorado             | 5048575      | 5355866
Connecticut          | 3579345      | 3596677
Delaware             | 899731       | 935614
District of Columbia | 605210       | 658893
Florida              | 18852220     | 19893297
... (41 rows omitted)

**Question 3d.**
A new table called `biggest_county` that has one row for each state. Its columns should contain
the state's name, the name of the largest county in the state (by 2014 population), the 2010 population
of that county, and the 2014 population of that county. It doesn't matter what the column names are.

In [11]:
# Grouping by state using 'max' will give the alphabetical last county,
# the largest 2010 pop in the state, and the largest 2014 pop in the
# state - these might all be different counties!
#
# DON'T DO THIS:
counties.group('State', max)

State                | County max                | 2010 Pop max | 2014 Pop max
Alabama              | Winston County            | 658302       | 660793
Alaska               | Yukon-Koyukuk Census Area | 293337       | 301010
Arizona              | Yuma County               | 3823609      | 4087191
Arkansas             | Yell County               | 383600       | 392702
California           | Yuba County               | 9827231      | 10116705
Colorado             | Yuma County               | 626895       | 663862
Connecticut          | Windham County            | 919506       | 945438
Delaware             | Sussex County             | 538873       | 552778
District of Columbia | District of Columbia      | 605210       | 658893
Florida              | Washington County         | 2508689      | 2662874
... (41 rows omitted)

In [16]:
# Correct solution for 3d:
sorted = counties.sort('2014 Pop' , descending = True)
biggest_county = sorted.group('State' , first)
biggest_county

State                | County first           | 2010 Pop first | 2014 Pop first
Alabama              | Jefferson County       | 658302         | 660793
Alaska               | Anchorage Municipality | 293337         | 301010
Arizona              | Maricopa County        | 3823609        | 4087191
Arkansas             | Pulaski County         | 383600         | 392702
California           | Los Angeles County     | 9827231        | 10116705
Colorado             | Denver County          | 603365         | 663862
Connecticut          | Fairfield County       | 919506         | 945438
Delaware             | New Castle County      | 538873         | 552778
District of Columbia | District of Columbia   | 605210         | 658893
Florida              | Miami-Dade County      | 2508689        | 2662874
... (41 rows omitted)

**Question 3e.** The table `biggest_county` with an additional column called `'Pct in Largest County'`. The column should contain what percent of that state's population lived in the largest county in 2014. For example, if a state has only three counties and the populations in 2014 are 250,000, 200,000, and 50,000, then `'Pct in Largest County'` should be 50.

In [ ]:
with_states = biggest_county.___(___ , ___)
biggest_county_with_pct = biggest_county.with_column('Pct in Largest County',\